<h1>Posts show</h1>
<br />
<label> ID: </label>
<%= @post.id %>
<br />
<label> Title: </label>
<%= @post.title%>
<br />

<label> Text: </label>
<%= @post.text%>
<br />

<label> Created at: </label>
<%= @post.created_at%>
<br />

<label> Updated at: </label>
<%= @post.updated_at%>
<br />
